@{
    Layout = null;
}
@model string

<h1>E-posta Doğrulama</h1>

<p>
    @if (!string.IsNullOrEmpty(Model))
    {
        <span>E-posta adresi: @Model</span>
        <br />
        <span>Please check your email to complete your email verification.</span>
    }
    else
    {
        <span>The e-mail verification process has not been completed.</span>
    }
</p>
